<?php
define('DB_SERVER', '{{ host }}');
define('DB_USERNAME', '{{ username }}');
define('DB_PASSWORD', '{{ mysql_root_password }}');
define('DB_NAME', '{{ database_name }}');
/* Attempt to connect to MySQL database */
try{
    $pdo = new PDO("mysql:host=" . DB_SERVER . ";dbname=" . DB_NAME, DB_USERNAME, DB_PASSWORD);
    // Set the PDO error mode to exception
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
} catch(PDOException $e){
    die("ERROR: Could not connect. " . $e->getMessage());
}
?>