<VirtualHost *:80>
    ServerAdmin egor.a.yakovlev@gmail.com
    DocumentRoot {{ data_dir }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>