DROP DATABASE IF EXISTS testdb;
DROP DATABASE IF EXISTS {{ database_name }};
CREATE DATABASE {{ database_name }};
CREATE TABLE {{ database_name }}.{{ table_name }} (
    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    address VARCHAR(255) NOT NULL,
    salary INT(10) NOT NULL
);